<form (ngSubmit)="onSubmit(expenseForm)" #expenseForm="ngForm" form-group="expenseForm">
  <label>expense:
    <input name="expense" ngModel placeholder="expense">
  </label>
  <label>cost: $
    <input name="cost" ngModel placeholder="how much">
  </label>
  <label>type:
    <select>
      <option>monthly bill</option>
      <option>entertainment</option>
      <option>hot food</option>
      <option>toys</option>
      <option>gadgets</option>
      <option>hot food</option>
    </select>
  </label>
  <button type="submit">submit</button>
</form>

<button (click)="credit()">credit $25</button>
<button (click)="debit()">debit $25</button>

<!-- <button (click)="reset()">Reset Counter</button> -->
